/* Common Styles for both sections */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

/* --- First Page Styles --- */
.first-section {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.603vw;
  /* padding: 7.321vw 0vw; */
}

.carousel {
  width: 80%;
  height: auto;
  perspective: 73.206vw;
  position: relative;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: absolute;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
}

.carousel-item img {
  width: 14.641vw;
  height: 10.981vw;
  object-fit: cover;
  border-radius: 0.732vw;
  transition: transform 0.5s ease-in-out;
}

.carousel-item.center {
  transform: scale(1.5) translateZ(0);
  opacity: 1;
  z-index: 2; /* Ensure the center image is in front */
}

.carousel-item.left1,
.carousel-item.right1 {
  transform: translateX(-19.400vw) scale(1);
}

.carousel-item.left2,
.carousel-item.right2 {
  transform: translateX(-34.041vw) scale(0.75);
}

.carousel-item.right1 {
  transform: translateX(19.400vw) scale(1);
}

.carousel-item.right2 {
  transform: translateX(34.041vw) scale(0.75);
}

/* --- Second Page Styles --- */
.second-section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.660vw;
  background: linear-gradient(135deg, #0a163d 0%, #0c1f4b 100%);
}

.second-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: auto;
  border-radius: 1.098vw;
  box-shadow: 0.000vw 0.732vw 2.196vw rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 3.660vw 0.000vw;
}

.container-images {
  position: relative;
  width: 25.622vw;
  height: 32.943vw;
  margin-right: 3.660vw;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease, z-index 0.5s ease;
  width: 100%;
  height: 100%;
  border-radius: 1.098vw;
  box-shadow: 0.000vw 0.586vw 1.464vw rgba(0, 0, 0, 0.15);
  border: 0.366vw solid #fff;
}

#img1 {
  z-index: 3;
  transform: translateX(0) scale(1);
}

#img2 {
  z-index: 2;
  transform: translateX(2.928vw) scale(0.9);
}

#img3 {
  z-index: 1;
  transform: translateX(5.857vw) scale(0.8);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.098vw;
}

.text-container {
  max-width: 36.603vw;
  color: #fff;
  margin-left: 15%;
}

.about-us {
  background: #3453d0;
  color: #fff;
  padding: 0.366vw 0.732vw;
  border-radius: 1.464vw;
  display: inline-block;
  font-size: 1.025vw;
  margin-bottom: 0.732vw;
}

.title {
  font-size: 2.489vw;
  font-weight: bold;
  margin-bottom: 1.464vw;
}

.number {
  background: #00c0ff;
  padding: 0.366vw 0.732vw;
  border-radius: 50%;
  font-size: 1.318vw;
  color: #fff;
  margin-left: 0.732vw;
}

.description {
  font-size: 1.171vw;
  line-height: 1.8;
  margin-bottom: 1.464vw;
}

.read-more {
  background-color: #2a84f2;
  color: #fff;
  padding: 0.732vw 1.464vw;
  border: none;
  border-radius: 1.830vw;
  cursor: pointer;
  font-size: 1.171vw;
}

.read-more:hover {
  background-color: #1b6edc;
}

/* Last Section */
.third-section {
  padding: 7.321vw 0.000vw;
}

.third-section .container {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rounded-box {
  display: flex;
  border-radius: 0.366vw; /* Less rounded edges */
  overflow: hidden;
  width: calc(50% - 0.732vw); /* Two boxes per row with a gap */
  margin: 0; /* No margin for overlapping */
  background-color: #ffffff;
  border: 0.073vw solid #007bff; /* Thin blue border */
  box-shadow: 0 0.293vw 0.586vw rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease; /* Add transition for background change */
  position: relative; /* Enable positioning for overlap */
}

.rounded-box:nth-child(even) {
  margin-left: -2.196vw; /* Overlap the even boxes to the left */
}

.rounded-box:nth-child(odd) {
  margin-right: 0.732vw; /* Keep some space on the right for odd boxes */
}

.rounded-box:hover {
  background: linear-gradient(
    to bottom,
    #add8e6,
    #0056b3
  ); /* Gradient hover effect */
  color: white; /* Change text color to white on hover */
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 1.464vw;
}

.content h2 {
  margin: 0;
  font-size: 1.464vw;
  transition: color 0.3s ease; /* Transition for heading color change */
}

.content p {
  margin: 0.732vw 0;
  transition: color 0.3s ease; /* Transition for paragraph color change */
  font-size: 1.171vw;
}

.learn-more {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.366vw;
  padding: 0.732vw 1.098vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for button color change */
  font-size: 1.171vw;
}

/* Change button styles when hovering over the box */
.rounded-box:hover .learn-more {
  background-color: white; /* Button background turns white */
  color: #007bff; /* Button text turns blue */
}

/* Change text color on hover */
.rounded-box:hover .content h2,
.rounded-box:hover .content p {
  color: white; /* Change text color to white */
}

/* Spacing between rows */
.container > div {
  margin-bottom: 3.660vw; /* Distance between rows */
}

/* body {
  background-color: #f5f5ff;
} */
.fourth-sec .wrapper {
  padding: 5.124vw 0;
}

.fourth-sec .container {
  max-width: 111.274vw;
  width: 100%;
  margin: 0 auto;
}

.fourth-sec .slick-list {
  margin: 0.000vw -0.732vw;
  padding: 0.000vw 16.105vw !important;
}

.fourth-sec .slick-dots {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.098vw;
}
.fourth-sec .slick-dots li button {
  padding: 0;
  margin: 0;
  border: 0.073vw solid grey;
  border-radius: 50%;
  width: 1.098vw;
  height: 1.098vw;
  font-size: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.fourth-sec .slick-dots li.slick-active button {
  background-color: grey;
}

/* Default slide */
.center-slider .slick-slide {
  height: 21.962vw;
  /* margin: 0 1.098vw 0 0; */
  margin: 0.000vw 0.732vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
}
.center-slider .slick-slide img,
.center-slider
  .slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"]
  img {
  transform: scale(0.9, 0.9);
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
}

.center-slider img {
  width: 25.622vw;
  height: 100%;
  object-fit: cover;
  border-radius: 0.732vw;
  -webkit-border-radius: 0.732vw;
  -moz-border-radius: 0.732vw;
  -ms-border-radius: 0.732vw;
  -o-border-radius: 0.732vw;
}

/* Active center slide (You can change anything here for center slide)*/
.center-slider .slick-center img,
.center-slider
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"]
  img {
  transform: scale(1.1);
  border-radius: 0.732vw;
  -webkit-border-radius: 0.732vw;
  -moz-border-radius: 0.732vw;
  -ms-border-radius: 0.732vw;
  -o-border-radius: 0.732vw;
}
.center-slider .slick-current.slick-active img {
  transform: scale(1.1);
}
